{% extends 'base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% block content %}
<div class="content-signing">
    <div class="jumbotron-signup">
        <h1><b>Sign Up please!</b></h1>

        <!-- action sends the data to the given url -->
        <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input class='sign-me' type="submit" value="SignUp">
        </form>

    </div>
</div>

{% endblock %}
