{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}
<div class="container-addnew">
    <div class="jumbotron-addnew">
       <h2>Create an Awesome, New Article</h2> 
       <form class="site-form" action="{% url 'post:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{form.as_p}}
        <input class='post' type="submit" value="Post">
       </form>
      
    </div>
</div>
<script src="{% static 'js/slugify.js' %}"></script>
{% endblock %}